//variables & mixins
$primary: rgb(199, 4, 4);
$secondary: rgb(44, 0, 0);
$tertiary: rgb(15, 137, 185);
$quaternary: rgb(2, 39, 54);

@mixin card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid $primary;
    border-radius: 10px;
}

@mixin bg-gradient--red {
    background: linear-gradient(to top left, $primary, $secondary, $primary);
}

//general styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
}

a {
    text-decoration: none;
}

.header {
    @include bg-gradient--red();

    width: 100%;
    padding: 20px;
    color: white;

    &__title {
        text-align: center;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 80px;
	height: 100px;
    margin:15px;
	border: 1px solid black;
    border-radius: 8px;
	background: center / contain no-repeat url("../assets/paw_patrol_logo.png");
	text-align:center;
	font-size:30px;
	cursor:pointer;
    transition: all 1s;

    &.flipped {
        background-color: white;
        transform: rotateY(180deg);
    }
}

.initBtn {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid $secondary;
    background: linear-gradient(to top left, $quaternary, $tertiary);
    box-shadow: 3px 3px 5px $secondary;
    color: white;
    cursor: pointer;
    transition: all 500ms;

    &:hover {
        transform: scale(0.9);
        box-shadow: none;
    }
}

.footer {
    @include bg-gradient--red();

    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;

    & a {
        color: white;
    }
}

//Media queries
@media screen and (max-width: 798px) {
    h1 {
        font-size: 20px;
    }

    .card {
        margin: 10px;
        width: 70px;
	    height: 90px;
    }
}

@media screen and (max-width: 380px) {
    h1 {
        font-size: 18px;
    }

    .card {
        margin: 5px;
        width: 60px;
	    height: 80px;
    }
}